<div>
  <div id="rovu-mobile-nav" v-on:click="openMobileSearchDrawer">
    <font-awesome-icon icon="bars" />
  </div>
  <div class="ui top attached text menu form" id="rovu-nav">
    <div class="search-datetime-picker">
      <label>Show events starting after</label>
      <datetime v-model="searchEventStartDate" type="datetime12" input-class="field" :minute-step="15"></datetime>
    </div>
    <div class="search-datetime-picker">
      <label>Show events ending before</label>
      <datetime v-model="searchEventEndDate" type="datetime12" input-class="field" :minute-step="15"></datetime>
    </div>
    <div class="ui dropdown item large-nav-item">
      Show events of type
      <i class="dropdown icon"></i>
      <div class="menu" id="event-category">
        <div class="item" :class="{ active: searchFacetId == cat.category_id }"
            v-bind:data-id="cat.category_id" v-for="cat in eventFacets" v-on:click="changeCategory">
          <div>{{ cat.name }}</div>
          <div class="small-text">({{ cat.event_count }})</div>
          <div class="small-text" v-if="searchFacetId === cat.category_id">&times; (click to remove filter)</div>
        </div>
      </div>
    </div>
    <button class="ui primary button event-search-button" :class="{ loading: fetchEventsPending }" v-on:click="fetchEvents">
      <font-awesome-icon icon="search" />
      Search
    </button>
  </div>
  <div>
    <div v-bind:data-id="evt.id" v-for="evt in events"></div>
  </div>
</div>