#event-category {
  max-height: 300px;
  overflow: scroll;
}

#rovu-nav {
  min-height: 60px;
  margin-top: 0;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.small-text {
  color: #888;
  font-size: 0.8em;
}

#rovu-mobile-nav {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 8vh;
  width: 8vh;
  background: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;

  @media screen and (max-width: 500px) {
    display: initial;
  }

  > svg {
    height: 100%;
    width: 100%;
    padding: 20%;

    > path {
      color: #324954;
    }
  }
}