<div>
  <div id="rovu-mobile-nav" v-on:click="openMobileSearchDrawer">
    <font-awesome-icon icon="bars" />
  </div>
  <div class="ui top attached text menu" id="rovu-nav">
    <div class="ui dropdown item large-nav-item">
      Show events within
      <i class="dropdown icon"></i>
      <div class="menu" id="events-within">
        <div class="item" :class="{ active: intervalName == 'h24' }"
          data-interval="h24" v-on:click="changeInterval">24hrs<div class="small-text" v-if="intervalName == 'h24'">&times; (click to remove filter)</div></div>
        <div class="item" :class="{ active: intervalName == 'd3' }"
          data-interval="d3" v-on:click="changeInterval">next 3 days<div class="small-text" v-if="intervalName == 'd3'">&times; (click to remove filter)</div></div>
        <div class="item" :class="{ active: intervalName == 'w1' }"
          data-interval="w1" v-on:click="changeInterval">the next week<div class="small-text" v-if="intervalName == 'w1'">&times; (click to remove filter)</div></div>
        <div class="item" :class="{ active: intervalName == 'wknd' }"
          data-interval="wknd" v-on:click="changeInterval">the weekend<div class="small-text" v-if="intervalName == 'wknd'">&times; (click to remove filter)</div></div>
      </div>
    </div>
    <div class="ui dropdown item large-nav-item">
      Show events of type
      <i class="dropdown icon"></i>
      <div class="menu" id="event-category">
        <div class="item" :class="{ active: searchFacetId == cat.category_id }"
            v-bind:data-id="cat.category_id" v-for="cat in eventFacets" v-on:click="changeCategory">
          <div>{{ cat.name }}</div>
          <div class="small-text">({{ cat.event_count }})</div>
          <div class="small-text" v-if="searchFacetId === cat.category_id">&times; (click to remove filter)</div>
        </div>
      </div>
    </div>
  </div>
</div>